<!DOCTYPE html>

<html>

	<head>
		<link href="style.css" rel="stylesheet">
	</head>

<body>

	<table>
			<% @rows.each do |row| %>
		<tr>
			<% row.each do |col| %>
		<td><%= col %></td>
			<% end %>
		</tr>
			<% end %>
	</table>

	<p> Please enter the coordinates of your ships </p>
		<%= @deploy %>

	</body>
</html>
